manifest {
  author = 'Dan Fornika'
  description = 'Generate Simulated Long Reads from Ref Genomes'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

params {
    flat = false
    assembly_exts = ['*.fa', '*.fasta', '*.fna']
    assembly_search_path = makeAssemblySearchPath( assembly_exts )
    contaminants = 'NO_FILE'
    depths_file = 'NO_FILE'
    depth = 50
    mean_read_length = 15000
    stdev_read_length = 13000
    percent_junk_reads = 1
    percent_random_reads = 1
    percent_chimeras = 1
    replicates = 1
}

def makeAssemblySearchPath ( assembly_exts ) {
    def assembly_search_path = []
    for (ext in assembly_exts) {
	assembly_search_path.add(params.assembly_input.toString() + '/' + ext.toString())
	assembly_search_path.add(params.assembly_input.toString() + '/*/' + ext.toString())
    }
    return assembly_search_path
}

profiles {
    conda {
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}

process {
    withName: minimap2_align { 
	cpus = 4
    }
}

